/* Header and Navbar Section */

#navbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  background-color: white;
  border: 1px solid rgb(210, 210, 210);
}

#navbar-item-1 {
  flex: 1;
}

#navbar-item-2 {
  flex: 2;
}

#navbar-item-3 {
  flex: 1;
}

/* Main Section */

#grid-container {
  padding-top: 3%;
  display: grid;
  grid-template-areas:
    'main main main main'
    'arti arti arti asid'
    'foot foot foot foot';
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
  /* width: 100vw; */
  min-height: 100vh;
}

#blank1 {
  background-color: aqua;
  grid-area: bla1;
}

#blank2 {
  background-color: aqua;
  grid-area: bla2;
}

h1 {
  font-style: italic;
  text-align: left;
  padding-left: 35%;
  font-size: 2.5em;
}

h3 {
  text-align: left;
  margin-left: 35%;
  font-size: 1.1em;
}

#main-text {
  width: 50%;
  margin: 0 0 0 17.5%;
  font-size: 1.1em;
  text-align: left;
  padding: 0;
}

#main-links {
  background-color: white;
  width: 35%;
  margin-left: 35%;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

#main-content {
  background-color: white;
  grid-area: main;
}

#article {
  background-color: khaki;
  grid-area: arti;
}

#footer {
  background-color: lawngreen;
  grid-area: foot;
}

#aside {
  background-color: honeydew;
  grid-area: asid;
}
.caption-text,
.main-content-text-headers,
.main-content-text {
  width: 35%;
  margin-left: 35%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.35em;
  text-align: left;
}

iframe {
  width: 35%;
  margin-left: 5%;
  height: 450px;
}

.main-content-images {
  width: 51%;
  height: auto;
}

.small-image {
  width: 40%;
  margin-left: 5%;
}

#main-image {
  width: 65%;
  height: auto;
}

.main-content-text-headers {
  text-align: left;
}

.caption-text {
  font-size: 0.75em;
}

#article-flex {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
}

#article-flex a{
  flex: 1 1 30%;
}