/* Header and Navbar Section */

#navbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  background-color: white;
  border: 1px solid rgb(210, 210, 210);
  width: 100vw;
}

#navbar-item-1 {
  flex: 1;
  display: flex;
  justify-content: center;
}

#navbar-item-2 {
  flex: 2;
  display: flex;
  justify-content: center;
}

#navbar-item-3 {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* Main Section */

#grid-container {
  padding-top: 3%;
  display: grid;
  grid-template-areas:
    'main main main main'
    'arti arti arti asid'
    'foot foot foot foot';
  grid-template-columns: 1fr 1fr 1fr 2fr;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

h1 {
  width: 35%;
  font-style: italic;
  text-align: left;
  padding-left: 35%;
  font-size: 2.5em;
}

h3 {
  width: 35%;
  text-align: left;
  margin-left: 35%;
  font-size: 1.1em;
}

#main-text {
  width: 50%;
  margin: 0 0 0 17.5%;
  font-size: 1.1em;
  text-align: left;
  padding: 0;
}

.main-links {
  background-color: white;
  width: 35%;
  margin-left: 35%;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

#main-content {
  background-color: white;
  grid-area: main;
  margin-bottom: 2%;
}

#article {
  background-color: white;
  grid-area: arti;
  width: 83%;
  margin-left: 28%;
  border-top: 2px solid black;
}

#footer {
  background-color: lawngreen;
  grid-area: foot;
}

#aside {
  background-color: white;
  grid-area: asid;
  width: 40%;
  margin-left: 20%;
  border-top: 2px solid black;
}
.caption-text,
.main-content-text-headers,
.main-content-text {
  width: 35%;
  margin-left: 35%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.35em;
  text-align: left;
}

iframe {
  width: 35%;
  margin-left: 5%;
  height: 450px;
}

.main-content-images {
  width: 51%;
  height: auto;
}

.small-image {
  width: 40%;
  margin-left: 5%;
}

#main-image {
  width: 65%;
  height: auto;
}

.main-content-text-headers {
  text-align: left;
}

.caption-text {
  font-size: 0.75em;
}

.article-flex {
  display: flex;
  flex-wrap: wrap;
}

.article-flex a img {
  width: 270px;
  height: 203px;
}

.article-flex a {
  flex: 1 1 33.333%;
  color: black;
  text-decoration: none;
  text-align: left;
}

#article a {
  color: black;
  text-decoration: none;
}

.article-heading {
  text-align: left;
  padding: 10px 0;
  margin: 0;
}

#aside h2 {
  text-align: left;
  border-bottom: 1px solid grey;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
  padding: 10px 0;
}

#article-hr {
  border-top: 2px solid black;
}

#footer {
  background-color: white;
  width: 65%;
  margin-left: 17%;
  margin-top: 30px;
  border-top: 1px solid gray;
  text-align: left;
}

.footer-lists {
  float: left;
  margin: 0;
  padding: 20px 7% 0 0;
  list-style-type: none;
  font-weight: bold;
  font-size: 0.9em;
}

.footer-items {
  padding-top: 10px;

  font-weight: normal;
}

.first {
  clear: both;
}

#footer a {
  float: left;
}

.footer-small-text {
  font-size: 0.8em;
  clear: both;
  text-align: center;
  padding-top: 10px;
}

.last {
  border-left: 0.5px solid grey;
  padding-left: 20px;
}
